.placeholder {
    float: left;
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 9999999px;
}

.info {
    float: right;
    width: 55vw;
}

.info>label:nth-child(1) {
    text-decoration: underline;
}

.info>h1 {
    padding-top: 30px;
}