@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.menu {
    padding: 0px 100px;
    background: linear-gradient(90deg, rgba(10, 3, 128, 1) 0%, rgba(121, 9, 89, 1) 51%, rgba(0, 212, 255, 1) 100%);
	display: flex;
	align-items: center;
}

.menu>a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
	display: flex;
	align-items: center;
	height: 60px;
}

.menu>a>img {
	margin-right: 5px;
	width: 32px;
}

.placeholder {
    float: left;
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 9999999px;
}

.info {
    float: right;
    width: 55vw;
}

.info>label:nth-child(1) {
    text-decoration: underline;
}

.info>h1 {
    padding-top: 30px;
}